.custom-bg {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  /*padding-top: calc(7rem + 72px);*/
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ffffff 0%, #f4fdff 100%);
  /*background: url('http://placehold.it/1920x1080'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
/*
#country_list_id {
	display: none;
}
*/

